body {
  font-family: Georgia, 'Times New Roman', Times, sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  border: 2px black solid;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  font-size: 40px;
}

button {
  width: 50%;
  height: 30px;
  margin: 20px auto;
  display: block;
}

.form_section {
  margin: 50px 0;
}

#size, #weight {
  height: 30px;
  vertical-align: middle;
}